services:
  db:
    container_name: routine_db
    image: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      PGDATA: /data/routine_data
    volumes:
      - db:/data/routine_data
    ports:
      - "5332:5432"
    networks:
      - db
    restart: unless-stopped


networks:
  db:
    driver: bridge

volumes:
  db: